* {
  box-sizing: border-box;
}
.Button{
  margin-right: 1em;
  padding: 0.5em 0 0.5em 0;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  transition: all 0.6s ease-in;
  border: none;
  border-bottom: 1px solid transparent;
  background-color: transparent;
}

.Button:hover, .Button:focus{
  border-bottom: 1px solid black;
  outline: none;
}