* {
  box-sizing: border-box;
}

.Gallery {
  display: flex;
  align-items: stretch;
  padding-top: 1vw;
  padding-bottom : 1vw;
  overflow-x: auto;
  height: 80vh;
  direction: ltr;
  overflow-y: hidden;
}

.Gallery-title {
  font-size: 5em;
  z-index: 1;
  position: absolute;
  top: 68px;
  left: 34px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 3px 1px 0 white, 3px 2px 4px rgba(0, 0, 0, 0.3);
  color: antiquewhite;
}

.Gallery::-webkit-scrollbar {
  height: 10px;
}

.Gallery::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1em;
}

.Gallery-img-parent {
  min-width: 50%;
  border-radius: 1.5%;
  margin: 1em;
  overflow: hidden;
  transition: all .5s ease;
  position: relative;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}


.Gallery-img-child{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  transition: all .7s ease;
}

.Gallery-img-title{
  position: absolute;
  bottom: 20%;
  left:10%;
  margin-right:30%;
  color: white;
}

.Gallery-img-name {
  margin-top:0.3em;
  margin-bottom:0.3em;
  line-height: 1.2em;
  font-size: 2.5em;
}

.Gallery-img-date{
  color: rgba(0,0,0,0.8);
  font-family: 'Raleway', sans-serif;
  background-color: rgba(256, 256, 256, 0.8);
  border-radius: 19px;
  padding: 4px 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.Gallery-img-parent:hover, .Gallery-img-parent:focus, .Gallery-img-parent:active{
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 10px 20px 0, 10px 21px 2px rgba(0, 0, 0, 0.2); /*si non renseignee, la couleur de l'ombre est portee par le "color" de img-parent*/
  transform: scale(1.02);
}

.Gallery-img-child:hover {
}

.Gallery-placeholder{
  width: 100vw;
  text-align: center;
  margin-top: 20%;
  font-family: 'Raleway', sans-serif;
}

@media screen and (min-width: 650px) {
  .Gallery-img-parent {
    min-width: 30%;
  }
  .Gallery-title{
    font-size: 150px;
    top: 85px;
    left: 100px;
  }
}

@media screen and (min-width: 1000px) {

  .Gallery-img-parent {
    min-width: 20%;
  }
  .Gallery-img-title{
    left:20%;
    margin-right:30% ;
  }
  .Gallery-img-name{
    font-size: 3em;
  }
}
