# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# env
.development.env

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

yarn.lock
package-lock.json

# admin
mon-site-admin/node_modules

# testing
mon-site-admin/coverage

# production
mon-site-admin/build

# misc
mon-site-admin/.DS_Store
mon-site-admin/.env.local
mon-site-admin/.env.development.local
mon-site-admin/.env.test.local
mon-site-admin/.env.production.local

mon-site-admin/npm-debug.log*
mon-site-admin/yarn-debug.log*
mon-site-admin/yarn-error.log*
