@font-face {
  font-family: 'Butterfly';
  src: local('Butterfly'), url(./fonts/Butterfly.otf) format('opentype');
}

body {
  margin: 0;
  font-family: 'Butterfly', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
