* {
  box-sizing: border-box;
}

.MonSite {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  font-size: calc(7px + 1vmin);
  color: #4e4e4e;
  position: relative;
}

.MonSite-header {
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.MonSite-header span{
  margin: 1rem 3rem 0.5rem 3rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.6s ease;
  border-bottom: 1px solid transparent;
}

.MonSite-header span:hover{
  border-bottom: 1px solid darkgray;
}

.MonSite-Delphine {
  font-size:1.5em;
}

.MonSite-footer{
  text-align: center;
  justify-content: center;
  color: lightgray;
  padding: 1em;
}

